{%extends 'main.html'%}
{%block content%}
{%include 'status.html'%}

<br><br><br>

<div class="card card-body">
<table class = "table">
    <thead class = "thead-inverse">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created date</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for i in list%}
    <tr>
        <td>{{i.user.name}}</td>
        <td>{{i.user.email}}</td>
        <td>{{i.date_Created}}</td>
        <td>{{i.status}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'view_application' i.id %}">View</a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
            </div>



{%endblock%}