{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel= "stylesheet" href="{%static 'assets/css/dashlite.css'%}">
    	<link rel= "stylesheet" href="{%static 'assets/css/dashlite.min.css'%}">
    	<link rel= "stylesheet" href="{%static 'assets/css/theme.css'%}">


    <meta charset="UTF-8">
    <title>Customer Onboarding</title>
</head>
<body>
{%include 'navbar.html'%}
{%block content%}
{%endblock%}
<hr>

<script src="{%static 'js/bundle.js'%}"'></script>
<script src="{%static 'js/scripts.js'%}"'></script>

</body>

</html>